<div class='dv-lvl-2 recruiter-result-item'>
    <div class='dv-lvl-3 recruiter-result-item-info'>
        <div class='dv-lvl-4 recruiter-result-item-info-data-row'>
            <p class='p-name'><span class='tag'>NAME:</span></p>
            <p class='p-surname'><span class='tag'>SURNAME:</span></p>
        </div>
        <div class='dv-lvl-4 recruiter-result-item-info-data-row'>
            <p class='p-mail'><span class='tag'>EMAIL:</span></p>
            <p class='p-phone'><span class='tag'>PHONE:</span></p>
        </div>
        <div class='dv-lvl-4 recruiter-result-item-info-data-row'>
            <p class='p-age'><span class='tag'>AGE:</span></p>
            <p class='p-salary'><span class='tag'>SALARY:</span></p>
        </div>
    </div>
    <div class='dv-lvl-3 recruiter-result-item-qualification'>
        <p class='qualification'>QUALIFICATION</p>
        <p class='qualification'></p>
    </div>
</div>