<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/465dd91009.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../greeting.css">
    <script defer src="../greeting.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <title>RecruitOn - Greeting</title>
</head>
<body>

    <div class="main-container">
        <div class="dv-lvl-0 recruit-on-header">
            <div class="dv-lvl-1 recruit-on-logo">
                <img class="img-lvl-2 recruit-on-img" src="../RecruitOn-logo.jpg">
            </div>
        </div>

        <div class="dv-lvl-0 recruiter-on-body">
            <div class="dv-lvl-1 greeting-panel-container">
                <div class="dv-lvl-2 greeting-panel-header">
                    <h1><span>Welcome to </span>RecruitOn</h1>
                </div>
                <div class="dv-lvl-2 greeting-panel-content">
                    <p>Please, enter the name for your profile: </p>
                </div>
                
                <form action="/file-manager/upload" method="GET">
                    <div class="dv-lvl-3 input-box">
                        <input class="name" type="text" name="name" />
                        <span class="error-message">Please, you must introduce a name</span>
                        <span class="error-bad-request">Bad request done to upload page. Please, complete the form</span>
                    </div>
                    <div class="dv-lvl-3 input-box">
                        <input class="button" type="submit" value="Go" />
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>