<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/465dd91009.js" crossorigin="anonymous"></script>
    <script defer src="../../map.js"></script>
    <link rel="stylesheet" href="../../map.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <title>RecruitOn - Map</title>
</head>
<body>

    <div class="main-container">
        <div class="dv-lvl-0 recruit-on-header">
            <div class="dv-lvl-1 recruit-on-logo">
                <img class="img-lvl-2 recruit-on-img" src="../../RecruitOn-logo.jpg">
            </div>
        </div>

        <div class="dv-lvl-0 recruiter-on-body">
            <div class="dv-lvl-1 page-title">
                <h1 class="he-lvl-2 page-title-header">MAPS</h1>
            </div>

            <div class="dv-lvl-1 recruiter-result-items-container">

                <div class="dv-lvl-2 map-container">
                        <i class="fas fa-spinner"></i>
                </div>
            </div>

            <div class="dv-lvl-1 button-back">
                <button class="go-back">Go Back</button>
            </div>

        </div>
            
    </div>
</body>
</html>     