<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/465dd91009.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <title>RecruitOn - Upload</title>
    <style>

        body,
        html {
            padding: 0;
            margin: 0;
            background: #e6e6e6;
            font-family: 'Barlow Condensed', sans-serif;
        }

        div.dv-lvl-0.recruit-on-header {
            max-width: 1920px;
            width: 100%;
            height: 100px;
            background: #252fc2;
            margin: 0 auto;
            display: flex;
            align-items: center;
            box-shadow: 0px 0px 10px 0px #000;
        }

        div.dv-lvl-0.recruiter-on-body {
            max-width: 1920px;
            width: 100%;
            margin: 0 auto;
        }

        div.dv-lvl-1.recruit-on-logo {
            margin-left: 30px;
            color: #e6e6e6;
        }

        img.img-lvl-2.recruit-on-img {
            height: 100px;
        }

        p.par-lvl-2.logo-paragraph {
            padding: 0;
            margin: 0;
            padding-bottom: .2em;
            letter-spacing: .4em;
        }

        div.dv-lvl-1.upload-panel-container {
            width: 400px;
            margin: 50px auto;
            height: 450px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 2px 2px 12px -5px #000;
        }

        div.dv-lvl-2.upload-panel-header {
            font-family: 'Cormorant Garamond', serif;
            font-size: 1.2em;
            padding: .8em 1.2em;
        }

        div.dv-lvl-2.upload-panel-header h2 span {
            font-weight: normal;
        }

        div.dv-lvl-2.upload-panel-content {
            padding: .8em 1.2em;
        }

        div.dv-lvl-3.input-box {
            padding: .8em 1.2em;
        }


        div.dv-lvl-3.input-box .excel-file {
            display: none;
        }

        form .process {
            margin: 10px auto;
            display: block;
            width: 80px;
            padding: .7em;
            background: #252fc2;
            color: #e6e6e6;
            border: none;
            box-shadow: 0px 0px 3px 2px #4f5291;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 17px;
        }

        form .process:hover {
            background: #6269c7;
            
        }

        form .process:active {
            outline: none;
            border: none;
            outline-offset: none;
            background: #0e1684;
            box-shadow: 0px 0px 4px 3px #3b3e78;
        }

        form .process:focus {
            border: none;
            outline: none;
            outline-offset: none;
            background: #0e1684;
        }

        form .upload-button {
            width: 120px;
            margin: 10px auto;
            display: block;
            padding: .7em;
            background: #b43a3a;
            color: #e6e6e6;
            border: none;
            box-shadow: 0px 0px 3px 2px #ba6868;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 17px;
        }

        form .upload-button:hover {
            background: #c18282;
            
        }
        
        form .upload-button:active {
            outline: none;
            border: none;
            outline-offset: none;
            background: #8c1a1a;
            box-shadow: 0px 0px 4px 3px #632e2e;
        }

        form .upload-button:focus {
            border: none;
            outline: none;
            outline-offset: none;
            background: #8c1a1a;
        }


     

    </style>
</head>
<body>

    <div class="main-container">
        <div class="dv-lvl-0 recruit-on-header">
            <div class="dv-lvl-1 recruit-on-logo">
                <img class="img-lvl-2 recruit-on-img" src="../RecruitOn-logo.jpg">
            </div>
        </div>

        <div class="dv-lvl-0 recruiter-on-body">
            <div class="dv-lvl-1 upload-panel-container">
                <div class="dv-lvl-2 upload-panel-header">
                    <h2>
                        <span>Hi, </span>
                        {{#if name}}
                            {{ name.name }}
                        {{^}}
                            Unknown
                        {{/if}}
                    </h2>
                </div>

                <div class="dv-lvl-2 upload-panel-content">
                    <p>Please, select a file to upload. Results will be displayed as soon as they are processed.</p>
                </div>

                <form action="/file-manager/generate" method="POST" enctype="multipart/form-data">
                    <div class="dv-lvl-3 input-box">
                        <button type="button" class="upload-button">Upload file</button>
                        <input class="excel-file" type="file" name="excel-file" />
                    </div>
                    <div class="dv-lvl-3 input-box">
                        <input class="process" type="submit" value="Process" />
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <script>

        let query = window.location.search;

        if (!query || query.trim() === '' || !query.trim().startsWith('?name=') || query.trim().length <= 6) window.location = '/file-manager/' ;


        let uploadButton = document.querySelectorAll('button.upload-button')[0];
        let fileInput = document.querySelectorAll('input.excel-file')[0];

        uploadButton.onclick = () => {
            if (fileInput && fileInput !== undefined && fileInput !== null) {
                fileInput.click();
            }
        }
        
    </script>
    
</body>
</html>