<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/465dd91009.js" crossorigin="anonymous"></script>
    <script defer src="../upload.js"></script>
    <link rel="stylesheet" href="../upload.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <title>RecruitOn - Upload</title>
</head>
<body>

    <div class="main-container">
        <div class="dv-lvl-0 recruit-on-header">
            <div class="dv-lvl-1 recruit-on-logo">
                <img class="img-lvl-2 recruit-on-img" src="../RecruitOn-logo.jpg">
            </div>
        </div>

        <div class="dv-lvl-0 recruiter-on-body">

            <!-- Form box -->
            <div class="dv-lvl-1 upload-panel-container">

                <div class="dv-lvl-2 upload-panel-header">
                    <h2>
                        <span>Hi, </span>
                        {{#if name}}
                            {{ name.name }}
                        {{^}}
                            Unknown
                        {{/if}}
                    </h2>
                </div>

                <div class="dv-lvl-2 upload-panel-content">
                    <p>Please, select a file to upload. Results will be displayed as soon as they are processed.</p>
                </div>

                <form name="upload" action="/file-manager/generate" method="POST" enctype="multipart/form-data">
                    <div class="dv-lvl-3 input-box">
                        <button type="button" class="upload-button">Upload file</button>
                        <input class="excel-file" type="file" name="excel-file" />
                    </div>
                    <div class="dv-lvl-3 input-box">
                        <input class="process" type="submit" value="Process" />
                    </div>
                     <div class="dv-lvl-3 input-box">
                        <p class="par-lvl-4 error-message">You must upload a file</p>
                    </div>
                    
                </form>

            </div>

            <!-- Status for database panel -->
            <div class="dv-lvl-1 database-status-panel">

                <p class="par-lvl-2 database-status-text">There is information already stored in database</p>
            </div>

            <!-- Check DAMN boxes -->
            <form name="upload" action="/file-manager/generate" method="POST">

            <div class="dv-lvl-1 database-status-checkbox">
                <div class="dv-lvl-2 database-status-checbox-n1">
                    {{!-- <label>
                        <input type="radio" value="demn" name="sample" id="sample-cb"/>Keep
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" value="demn" name="sample" id="sample-cb"/>Overwrite
                    </label> --}}
                    <label class="lbl-lvl-3 input-container">Keep
                        <input type="radio" value="keep"  name="keep">
                        <span class="spn-lvl-4 span-checkmark"></span>
                    </label>
                    <label class="lbl-lvl-3 input-container">Overwrite
                        <input type="radio" value="overwrite" name="overwrite">
                        <span class="spn-lvl-4 span-checkmark"></span>
                    </label>

                </div>
            </div>
            </form>

        </div>
    </div>
</body>
</html>